<div class="flex flex-col flex-auto min-w-0">

    <!-- Header -->
    <div
        class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
        
        <!-- Title -->
        <div class="text-4xl font-extrabold tracking-tight">Search Entity</div>
        <!-- Actions -->
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <!-- Search -->
            <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded min-w-64">
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:search'"></mat-icon>
                <input matInput [formControl]="searchInputControl" [autocomplete]="'off'"
                    [placeholder]="'Search By PAN Or Name'">
            </mat-form-field>
            <!-- Add product button -->
            <!-- <button class="ml-4" mat-flat-button [color]="'primary'" (click)="createProduct()">
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1">Add</span>
            </button> -->
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">
        <!-- Title -->
        <!-- <div class="text-4xl font-extrabold tracking-tight">GST DETAILS </div> -->
        <!-- CONTENT GOES HERE -->
        <div class="">

            <div class="example-container mat-elevation-z8">
                <div class="example-loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
                    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
                    <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
                        Finder API rate limit has been reached. It will be reset in one minute.
                    </div>
                </div>

                <div class="example-table-container">
                    <table mat-table [dataSource]="dataSource" class="example-table" class="w-100">

                        <!-- Entity ID Column -->
                        <ng-container matColumnDef="entityId">
                            <th mat-header-cell *matHeaderCellDef> Entity ID </th>
                            <td mat-cell *matCellDef="let element"> {{ element.entityId }} </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef> Name </th>
                            <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
                        </ng-container>

                        <!-- Pans Column -->
                        <ng-container matColumnDef="pans">
                            <th mat-header-cell *matHeaderCellDef> PANs </th>
                            <td mat-cell *matCellDef="let element"> {{ element.basicDetails.pans.join(', ') }} </td>
                        </ng-container>

                        <!-- Location Column -->
                        <ng-container matColumnDef="location">
                            <th mat-header-cell *matHeaderCellDef> Location </th>
                            <td mat-cell *matCellDef="let element"> {{ element.basicDetails.location }} </td>
                        </ng-container>

                        <!-- Status Column -->
                        <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef> Status </th>
                            <td mat-cell *matCellDef="let element"> {{ element.basicDetails.status }} </td>
                        </ng-container>

                        <!-- Status Column -->
                        <ng-container matColumnDef="createdAt">
                            <th mat-header-cell *matHeaderCellDef> Created </th>
                            <td mat-cell *matCellDef="let element"> {{ element.createdAt | date }} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>

                <mat-paginator
                    [length]="resultsLength"
                    [pageSize]="pageSize"
                    [pageSizeOptions]="[10, 20, 50]"
                    (page)="onPageChange($event)">
                </mat-paginator>
            </div>

            <div class="add-data flex items-end justify-end py-5">
                <button matTooltip="Add Litigation BI Details" mat-fab color="primary"
                    aria-label="Example icon button with a delete icon" (click)="openSearchDialog('1000ms', '1000ms')">
                    <mat-icon>add</mat-icon>
                </button>
            </div>

        </div>

    </div>

</div>