<div class="flex flex-col flex-auto min-w-0">
    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">
        <!-- Title -->
        <div class="text-4xl font-extrabold tracking-tight">GIPI Api</div>
        <!-- CONTENT GOES HERE -->
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 w-full min-w-0">
            <!-- Financial Cards -->
            <fuse-card class="flex flex-col flex-auto filter-article cursor-pointer" (click)="openDialog()">
                <div class="m-8">
                    <div class="text-2xl font-semibold leading-tight">Financial Statement</div>
                    <div class="mt-4" style="color: #3ca93c;">Consolidated information of company</div>
                </div>
            </fuse-card>
            <fuse-card class="flex flex-col flex-auto filter-article cursor-pointer" (click)="openDialog()">
                <div class="m-8">
                    <div class="text-2xl font-semibold leading-tight">Financial Statement</div>
                    <div class="mt-4" style="color: #3ca93c;">Consolidated information of company</div>
                </div>
            </fuse-card>
        </div>   
        
    </div>
</div>
