.aspect-\[9\/6\] {
  aspect-ratio: 9/6!important;
}
.mat-drawer-container {
  background-color: transparent !important;
}

.mat-drawer-backdrop.mat-drawer-shown {
  background-color: rgba(0, 0, 0, 0.8) !important;
}

.mat-drawer-content {
  overflow-x: hidden !important;
  &.overflow-hidden {
      overflow: hidden !important;
  }
}

.mat-drawer {
  box-shadow: -8px 0 10px -5px rgba(0, 0, 0, 0.5) !important;
}