<div class="flex flex-col flex-auto min-w-0">
    <!-- Loading Overlay -->
    <div *ngIf="isLoading" class="fixed inset-0 bg-black bg-opacity-10 flex items-center justify-center z-50">
        <mat-spinner></mat-spinner>
    </div>

    <!-- Header -->
    <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between pt-4 px-6 md:px-8 border-b bg-white"
        *ngIf="data">
        <div class="flex flex-col gap-2">
            <div class="text-4xl font-extrabold tracking-tight">{{ data.entityName }}</div>

            <mat-form-field appearance="outline" class="min-w-[300px] p-0">
                <mat-label>Select Entity</mat-label>
                <mat-select [(value)]="selectedEntity" (selectionChange)="onDirectorChange($event.value)">
                    <mat-option [value]="primaryEntityName">
                        {{ primaryEntityName }}
                    </mat-option>
                    <mat-option *ngFor="let director of directors" [value]="director.name">{{ director.name
                        }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="flex flex-col shrink-0 items-end mt-6 sm:mt-0 sm:ml-4">

            <div class="text-secondary mb-2 text-right" *ngIf="data?.updatedAt || data?.createdAt">
                <strong>Last Updated On:</strong>&nbsp;
                {{ (data.updatedAt || data.createdAt) | date:'MMM d, y h:mm a' }} (Since {{
                utils.getDaysAgo(data.updatedAt ||
                data.createdAt) }})
            </div>

            <mat-chip color="warn" selected
                class="text-white font-semibold mb-2 px-3 py-1 text-sm rounded-full inline-flex w-auto" *ngIf="expired">
                Expired ({{
                utils.getDaysAgo(expiredDate) }})
            </mat-chip>

            <!-- Dropdown Button -->
            <div class="flex flex-row gap-3">
                <button mat-button
                    class="bg-blue-500 text-white px-3 py-2 rounded-lg shadow-md hover:bg-blue-600 transition"
                    (click)="generateSummary()">
                    <mat-icon class="mr-1.5 text-[1.5rem] text-white">auto_awesome</mat-icon>
                    <span class="truncate">Generate Observations</span>
                </button>

                <button mat-button [matMenuTriggerFor]="exportMenu"
                    class="bg-blue-500 text-white px-4 py-2 rounded-lg shadow-md hover:bg-blue-600 transition"
                    *ngIf="!expired;">
                    Export <mat-icon class="text-white">arrow_drop_down</mat-icon>
                </button>

                <button mat-button *ngIf="expired"
                    class="bg-blue-500 text-white px-4 py-2 rounded-lg shadow-md hover:bg-blue-600 transition"
                    (click)="regenerate()">
                    Regenerate <mat-icon class="text-white">refresh</mat-icon>
                </button>

                <!-- Menu Options -->
                <mat-menu #exportMenu="matMenu">
                    <button mat-menu-item (click)="exportPDF()">
                        <mat-icon>picture_as_pdf</mat-icon> PDF
                    </button>
                    <button mat-menu-item (click)="exportExcel('lite')">
                        <mat-icon>table_chart</mat-icon> Excel
                    </button>
                    <button mat-menu-item (click)="exportExcel('advanced')">
                        <mat-icon>insights</mat-icon> Excel (Advanced)
                    </button>
                </mat-menu>
            </div>



        </div>
    </div>

    <div class="flex-auto p-6 sm:p-10" *ngIf="data">
        <!-- Title -->
        <!-- <div class="text-4xl font-extrabold tracking-tight">GST DETAILS </div> -->

        <!-- Total Cases Data -->
        <div
            class="grid w-full min-w-0 grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-6 ng-star-inserted">

            <div
                class="bg-card flex flex-auto flex-col overflow-hidden rounded-2xl p-3 shadow {{ ! data.litigationDetails.totalCases.total ? 'disabled' : '' }}">
                <div class="flex items-start justify-between lg:gap-1">
                    <div class="truncate text-lg font-medium leading-6 tracking-tight">Total Cases</div>
                </div>
                <div class="mt-1 flex items-center">
                    <div class="flex flex-col">
                        <div class="text-4xl font-semibold leading-tight tracking-tight">
                            {{ data.litigationDetails.totalCases.total }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="bg-card flex flex-auto flex-col overflow-hidden rounded-2xl p-3" [ngClass]="{
                'shadow cursor-pointer': data.litigationDetails.totalCases.pending,
                'border-2 border-sky-600': filters.caseStatus === 'pending',
                'bg-gray-200 text-gray-500 pointer-events-none': !data.litigationDetails.totalCases.pending
              }" (click)="data.litigationDetails.totalCases.pending && setFilters({caseStatus: 'pending'})">
                <div class="flex items-start justify-between lg:gap-1">
                    <div class="flex items-center gap-2 text-lg font-medium text-sky-600">
                        <mat-icon class="text-sky-600">hourglass_top</mat-icon>
                        <span>Total Pending</span>
                    </div>
                </div>
                <div class="mt-1 flex items-center">
                    <div class="flex flex-col">
                        <div class="text-4xl font-semibold leading-tight tracking-tight text-sky-600">
                            {{ data.litigationDetails.totalCases.pending }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="bg-card flex flex-auto flex-col overflow-hidden rounded-2xl p-3" [ngClass]="{
              'shadow cursor-pointer': data.litigationDetails.totalCases.disposed,
              'border-2 border-sky-600': filters.caseStatus === 'disposed',
              'bg-gray-200 text-gray-500 pointer-events-none': !data.litigationDetails.totalCases.disposed
            }" (click)="data.litigationDetails.totalCases.disposed && setFilters({caseStatus: 'disposed'})">
                <div class="flex items-start justify-between lg:gap-1">
                    <div class="flex items-center gap-2 text-lg font-medium text-sky-600">
                        <mat-icon class="text-sky-600">check</mat-icon>
                        <span>Total Disposed</span>
                    </div>
                </div>
                <div class="mt-1 flex items-center">
                    <div class="flex flex-col">
                        <div class="text-4xl font-semibold leading-tight tracking-tight text-sky-600">
                            {{ data.litigationDetails.totalCases.disposed }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="bg-card flex flex-auto flex-col overflow-hidden rounded-2xl p-3" [ngClass]="{
                'shadow cursor-pointer': data.litigationDetails.totalCases['not available'],
                'border-2 border-sky-600': filters.caseStatus === 'not available',
                'bg-gray-200 text-gray-500 pointer-events-none': !data.litigationDetails.totalCases['not available']
              }"
                (click)="data.litigationDetails.totalCases['not available'] && setFilters({caseStatus: 'not available'})">
                <div class="flex items-center gap-2 text-lg font-medium text-sky-600 lg:gap-1">
                    <mat-icon class="text-sky-600">block</mat-icon>
                    <span>Case Status Unavailable</span>
                </div>
                <div class="mt-1 flex items-center">
                    <div class="flex flex-col">
                        <div class="text-4xl font-semibold leading-tight tracking-tight text-sky-600">
                            {{ data.litigationDetails.totalCases['not available'] }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="bg-card flex flex-auto flex-col overflow-hidden rounded-2xl p-3" [ngClass]="{
                'shadow cursor-pointer': data.litigationDetails.caseTypeCategoryCount.total.criminal,
                'border-2 border-sky-600': filters.caseTypeCategory === 'criminal',
                'bg-gray-200 text-gray-500 pointer-events-none': !data.litigationDetails.caseTypeCategoryCount.total.criminal
              }"
                (click)="data.litigationDetails.caseTypeCategoryCount.total.criminal && setFilters({caseTypeCategory: 'criminal'})">
                <div class="flex items-center gap-2 text-lg font-medium text-sky-600 lg:gap-1">
                    <mat-icon class="text-sky-600">view_week</mat-icon>
                    <span>Criminal Cases</span>
                </div>
                <div class="mt-1 flex items-center">
                    <div class="flex flex-col">
                        <div class="text-4xl font-semibold leading-tight tracking-tight text-sky-600">
                            {{ data.litigationDetails.caseTypeCategoryCount.total.criminal }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="bg-card flex flex-auto flex-col overflow-hidden rounded-2xl p-3" [ngClass]="{
                'shadow cursor-pointer': data.litigationDetails.caseTypeCategoryCount.total.civil,
                'border-2 border-sky-600': filters.caseTypeCategory === 'civil', 
                'bg-gray-200 text-gray-500 pointer-events-none': !data.litigationDetails.caseTypeCategoryCount.total.civil
              }"
                (click)="data.litigationDetails.caseTypeCategoryCount.total.civil && setFilters({caseTypeCategory: 'civil'})">
                <div class="flex items-center gap-2 text-lg font-medium text-sky-600 lg:gap-1">
                    <mat-icon class="text-sky-600">gavel</mat-icon>
                    <span>Civil Cases</span>
                </div>
                <div class="mt-1 flex items-center">
                    <div class="flex flex-col">
                        <div class="text-4xl font-semibold leading-tight tracking-tight text-sky-600">
                            {{ data.litigationDetails.caseTypeCategoryCount.total.civil }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Categorized Data -->
        <div
            class="bg-card flex flex-auto flex-col overflow-hidden rounded-2xl p-3 shadow sm:col-span-2 md:col-span-4 my-5">
            <div class="flex flex-col">
                <div class="truncate text-2xl font-medium leading-6 tracking-tight">Risk Categorization</div>
                <div class="mt-6 grid flex-auto grid-cols-1 gap-4 md:grid-cols-3">
                    <div class="col-span-1 flex flex-col items-center justify-center rounded-2xl px-1 py-8 sm:col-span-1 cursor-pointer"
                        [ngClass]="{
                            'bg-gray-100 text-secondary opacity-50 shadow-none pointer-events-none': !data.litigationDetails.severityCount.total.high,
                            'border-2 border-red-500': filters.severity.includes('high'),
                            'text-red-500 bg-red-100': data.litigationDetails.severityCount.total.high
                        }"
                        (click)="data.litigationDetails.severityCount.total.high && setFilters({severity: ['high']})">
                        <div class="text-5xl font-semibold leading-none tracking-tight">
                            {{ data.litigationDetails.severityCount.total.high }}
                        </div>
                        <div class="mt-1 text-center text-2xl font-medium flex items-center gap-2">
                            <mat-icon class="text-red-600">warning</mat-icon>
                            <span>High Risk</span>
                        </div>
                    </div>

                    <div class="col-span-1 flex flex-col items-center justify-center rounded-2xl px-1 py-8 sm:col-span-1 cursor-pointer"
                        [ngClass]="{
                            'bg-gray-100 text-secondary opacity-50 shadow-none pointer-events-none': !data.litigationDetails.severityCount.total.medium,
                            'border-2 border-amber-600': filters.severity.includes('medium'),
                            'text-amber-600 bg-amber-100': data.litigationDetails.severityCount.total.medium
                        }"
                        (click)="data.litigationDetails.severityCount.total.medium && setFilters({severity: ['medium']})">
                        <div class="text-5xl font-semibold leading-none tracking-tight">
                            {{ data.litigationDetails.severityCount.total.medium }}
                        </div>
                        <div class="mt-1 text-center text-2xl font-medium flex items-center gap-2">
                            <mat-icon class="text-amber-700">warning</mat-icon>
                            <span>Medium Risk</span>
                        </div>
                    </div>

                    <div class="col-span-1 flex flex-col items-center justify-center rounded-2xl px-1 py-8 sm:col-span-1 cursor-pointer"
                        [ngClass]="{
                            'bg-gray-100 text-secondary opacity-50 shadow-none pointer-events-none': !data.litigationDetails.severityCount.total.highRelevance,
                            'border-2 border-gray-600': filters.relevance === 'high',
                            'text-secondary bg-gray-200': data.litigationDetails.severityCount.total.highRelevance
                        }"
                        (click)="data.litigationDetails.severityCount.total.highRelevance && setFilters({relevance: 'high'})">
                        <div class="text-5xl font-semibold leading-none tracking-tight">
                            {{ data.litigationDetails.severityCount.total.highRelevance }}
                        </div>
                        <div class="mt-1 text-center text-2xl font-medium flex items-center gap-2">
                            <mat-icon>new_releases</mat-icon>
                            <span>High Relevance</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex flex-col py-4">
                <div class="truncate text-2xl font-medium leading-6 tracking-tight">Upcoming Hearings</div>
                <div class="mt-6 grid flex-auto grid-cols-1 gap-4 md:grid-cols-3">
                    <div class="col-span-1 flex flex-col items-center justify-center rounded-2xl px-1 py-8 sm:col-span-1 cursor-pointer"
                        [ngClass]="{
                            'bg-gray-100 text-secondary opacity-50 shadow-none pointer-events-none': !data.litigationDetails.upcomingCases.total.thisWeek,
                            'border-2 border-sky-600': filters.upcomingHearing === 'thisWeek',
                            'text-sky-600 bg-sky-100': data.litigationDetails.upcomingCases.total.thisWeek
                        }"
                        (click)="data.litigationDetails.upcomingCases.total.thisWeek && setFilters({upcomingHearing: 'thisWeek'})">
                        <div class="text-5xl font-semibold leading-none tracking-tight">
                            {{ data.litigationDetails.upcomingCases.total.thisWeek }}
                        </div>
                        <div class="mt-1 text-center text-2xl font-medium flex items-center gap-2">
                            <mat-icon class="text-sky-700">calendar_view_week</mat-icon>
                            <span>This Week</span>
                        </div>
                    </div>

                    <div class="col-span-1 flex flex-col items-center justify-center rounded-2xl px-1 py-8 sm:col-span-1 cursor-pointer"
                        [ngClass]="{
                            'bg-gray-100 text-secondary opacity-50 shadow-none pointer-events-none': !data.litigationDetails.upcomingCases.total.thisMonth,
                            'border-2 border-sky-600': filters.upcomingHearing === 'thisMonth',
                            'text-sky-600 bg-sky-100': data.litigationDetails.upcomingCases.total.thisMonth
                        }"
                        (click)="data.litigationDetails.upcomingCases.total.thisMonth && setFilters({upcomingHearing: 'thisMonth'})">
                        <div class="text-5xl font-semibold leading-none tracking-tight">
                            {{ data.litigationDetails.upcomingCases.total.thisMonth }}
                        </div>
                        <div class="mt-1 text-center text-2xl font-medium flex items-center gap-2">
                            <mat-icon class="text-sky-700">calendar_month</mat-icon>
                            <span>This Month</span>
                        </div>
                    </div>

                    <div class="col-span-1 flex flex-col items-center justify-center rounded-2xl px-1 py-8 sm:col-span-1 cursor-pointer"
                        [ngClass]="{
                            'bg-gray-100 text-secondary opacity-50 shadow-none pointer-events-none': !data.litigationDetails.upcomingCases.total.nextMonth,
                            'border-2 border-sky-600': filters.upcomingHearing === 'nextMonth',
                            'text-sky-600 bg-sky-100': data.litigationDetails.upcomingCases.total.nextMonth
                        }"
                        (click)="data.litigationDetails.upcomingCases.total.nextMonth && setFilters({upcomingHearing: 'nextMonth'})">
                        <div class="text-5xl font-semibold leading-none tracking-tight">
                            {{ data.litigationDetails.upcomingCases.total.nextMonth }}
                        </div>
                        <div class="mt-1 text-center text-2xl font-medium flex items-center gap-2">
                            <mat-icon class="text-sky-700">date_range</mat-icon>
                            <span>Next Month</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Court Wise Data -->
        <div
            class="bg-card flex flex-auto flex-col overflow-hidden rounded-2xl p-3 shadow sm:col-span-2 md:col-span-4 my-5">
            <div class="flex items-center justify-between">
                <div class="flex flex-col">
                    <div class="truncate text-2xl font-medium leading-6 tracking-tight">Summary of Court Wise Count
                    </div>
                </div>
            </div>

            <div class="grid gap-6 grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-6 pt-3">
                <div class="border relative flex flex-auto flex-col overflow-hidden rounded-2xl p-3 pb-3 pr-3"
                    *ngFor="let court of courtsToDisplay">
                    <div class="flex items-center">
                        <div class="flex flex-col">
                            <div class="flex items-center gap-3 truncate text-lg font-medium leading-6 tracking-tight">
                                <mat-icon class="{{ court.color }}">gavel</mat-icon>
                                <span>{{ court.label }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="-mx-6 mt-4 flex flex-col flex-wrap gap-3">
                        <div class="mx-6 flex gap-3 items-center">
                            <div class="text-secondary w-32 font-medium leading-none">Pending</div>
                            <div class="font-medium leading-none">
                                {{ data.litigationDetails.courtWiseCount[court.key]['pending'] }}
                            </div>
                        </div>
                        <div class="mx-6 flex gap-3 items-center">
                            <div class="text-secondary w-32 font-medium leading-none">Disposed</div>
                            <div class="font-medium leading-none">
                                {{ data.litigationDetails.courtWiseCount[court.key]['disposed'] }}
                            </div>
                        </div>
                        <div class="mx-6 flex gap-3 items-center">
                            <div class="text-secondary w-32 font-medium leading-none">Not Available</div>
                            <div class="font-medium leading-none">
                                {{ data.litigationDetails.courtWiseCount[court.key]['not available'] }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- All Cases -->
        <div
            class="bg-card flex flex-auto flex-col overflow-hidden rounded-2xl p-3 shadow sm:col-span-2 md:col-span-4 my-5">
            <div class="example-container">
                <div class="flex items-center justify-between">
                    <div class="flex flex-col">
                        <div class="truncate text-2xl font-medium leading-6 tracking-tight">
                            All Cases | Total Records {{ data.litigationDetails.totalCases.total | number:'1.0-0' }}
                        </div>
                    </div>
                </div>

                <mat-tab-group class="custom-tabs border border-gray-50 mt-2 bg-white shadow-md p-3 px-0"
                    (selectedIndexChange)="setActiveCourtType($event)">
                    <mat-tab *ngFor="let court of courtsToDisplay; let i = index">
                        <ng-template matTabLabel>
                            <mat-icon class="{{ court.color }}">gavel</mat-icon>
                            <strong>{{ court.label }}</strong>&nbsp;({{
                            data?.litigationDetails?.courtWiseCount?.[court.key]?.total || 0 }})
                        </ng-template>
                    </mat-tab>
                </mat-tab-group>

                <mat-tab-group #caseTypeTabs class="custom-tabs border border-gray-50 bg-white p-3 shadow-md"
                    (selectedIndexChange)="setActiveCaseType($event === 0 ? 'all' : $event === 1 ? 'civil' : 'criminal')">
                    <mat-tab label="All"></mat-tab>
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <strong>Civil</strong>&nbsp;({{
                            data.litigationDetails.caseTypeCategoryCount[courtsToDisplay[activeCourtType].key].civil }})
                        </ng-template>
                    </mat-tab>

                    <mat-tab>
                        <ng-template mat-tab-label>
                            <strong>Criminal</strong>&nbsp;({{
                            data.litigationDetails.caseTypeCategoryCount[courtsToDisplay[activeCourtType].key].criminal
                            }})
                        </ng-template>
                    </mat-tab>
                </mat-tab-group>

                <div class="example-table-container table-responsive h-full">

                    <table mat-table [dataSource]="dataSource" class="example-table" matSort matSortActive="created"
                        matSortDisableClear matSortDirection="desc" class="w-100">

                        <ng-container matColumnDef="cino">
                            <th mat-header-cell *matHeaderCellDef> CINO </th>
                            <td class="text-sky-600 underline cursor-pointer" mat-cell *matCellDef="let caseItem"
                                (click)="getCaseDetails(caseItem.cino)"> {{
                                caseItem.cino }} </td>
                        </ng-container>

                        <ng-container matColumnDef="casetypeCaseNoCaseYr">
                            <th mat-header-cell *matHeaderCellDef> Case Type | Case No | Case Year </th>
                            <td mat-cell *matCellDef="let caseItem"> {{ caseItem.casetypeCaseNoCaseYr }} </td>
                        </ng-container>

                        <ng-container matColumnDef="standardCaseType">
                            <th mat-header-cell *matHeaderCellDef> Case Type </th>
                            <td mat-cell *matCellDef="let caseItem"> {{ caseItem.standardCaseType }} </td>
                        </ng-container>

                        <ng-container matColumnDef="caseStatus">
                            <th mat-header-cell *matHeaderCellDef> Status </th>
                            <td mat-cell *matCellDef="let caseItem"> {{ caseItem.caseStatus }} </td>
                        </ng-container>

                        <ng-container matColumnDef="petitionerNameList">
                            <th mat-header-cell *matHeaderCellDef> Petitioner Name </th>
                            <td mat-cell *matCellDef="let caseItem">
                                {{ (caseItem.petitionerNameList || []).join(', ') }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="respondentNameList">
                            <th mat-header-cell *matHeaderCellDef> Petitioner Name </th>
                            <td mat-cell *matCellDef="let caseItem">
                                {{ (caseItem.respondentNameList || []).join(', ') }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="courtComplex">
                            <th mat-header-cell *matHeaderCellDef> Court Complex </th>
                            <td mat-cell *matCellDef="let caseItem"> {{ caseItem.courtComplex }} </td>
                        </ng-container>

                        <ng-container matColumnDef="courtEstablishment">
                            <th mat-header-cell *matHeaderCellDef> Court Establishment </th>
                            <td mat-cell *matCellDef="let caseItem"> {{ caseItem.courtEstablishment }} </td>
                        </ng-container>

                        <ng-container matColumnDef="district">
                            <th mat-header-cell *matHeaderCellDef> District </th>
                            <td mat-cell *matCellDef="let caseItem"> {{ caseItem.district }} </td>
                        </ng-container>

                        <ng-container matColumnDef="state">
                            <th mat-header-cell *matHeaderCellDef> State </th>
                            <td mat-cell *matCellDef="let caseItem"> {{ caseItem.state }} </td>
                        </ng-container>

                        <ng-container matColumnDef="filingDate">
                            <th mat-header-cell *matHeaderCellDef> Filing Date </th>
                            <td mat-cell *matCellDef="let caseItem"> {{ caseItem.filingDate }} </td>
                        </ng-container>

                        <ng-container matColumnDef="decisionDate">
                            <th mat-header-cell *matHeaderCellDef> Decision Date </th>
                            <td mat-cell *matCellDef="let caseItem"> {{ caseItem.decisionDate }} </td>
                        </ng-container>

                        <ng-container matColumnDef="nextHearingDate">
                            <th mat-header-cell *matHeaderCellDef> Next Hearing Date </th>
                            <td mat-cell *matCellDef="let caseItem">
                                {{ caseItem.nextHearingDate }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="stageOfCase">
                            <th mat-header-cell *matHeaderCellDef> Stage </th>
                            <td mat-cell *matCellDef="let caseItem"> {{ caseItem.stageOfCase }} </td>
                        </ng-container>

                        <ng-container matColumnDef="petitionerAdvocates">
                            <th mat-header-cell *matHeaderCellDef> Petitioner Advocates </th>
                            <td mat-cell *matCellDef="let caseItem">
                                {{ caseItem.petitionerAndAdvocate?.[0]?.advocate?.[0] || 'N/A' }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="respondentAdvocates">
                            <th mat-header-cell *matHeaderCellDef> Respondent Advocates </th>
                            <td mat-cell *matCellDef="let caseItem">
                                {{ caseItem.respondentAndAdvocate?.[0]?.advocate?.[0] || 'N/A' }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="judges">
                            <th mat-header-cell *matHeaderCellDef> Judges </th>
                            <td mat-cell *matCellDef="let caseItem"> {{ caseItem.judges }} </td>
                        </ng-container>

                        <ng-container matColumnDef="natureOfDisposal">
                            <th mat-header-cell *matHeaderCellDef> Nature Of Disposal </th>
                            <td mat-cell *matCellDef="let caseItem"> {{ caseItem.natureOfDisposal }} </td>
                        </ng-container>

                        <ng-container matColumnDef="civilCriminal">
                            <th mat-header-cell *matHeaderCellDef> Civil/Criminal </th>
                            <td mat-cell *matCellDef="let caseItem"> {{ caseItem.civilCriminal }} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                    </table>
                </div>

                <mat-paginator [length]="resultsLength" [pageSize]="pageSize" [pageSizeOptions]="[20, 50, 100]"
                    (page)="onPageChange($event)">
                </mat-paginator>
            </div>
        </div>
    </div>
</div>