<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">

    <mat-drawer-container class="flex-auto h-full bg-card dark:bg-transparent" [hasBackdrop]="true"
        (backdropClick)="onBackdropClicked()">

        <mat-drawer class="w-full sm:w-100 dark:bg-gray-900" [mode]="'over'" [opened]="drawerOpened" [position]="'end'"
            [disableClose]="false" #matDrawer>
            <router-outlet name="sidebar"></router-outlet>
        </mat-drawer>

        <mat-drawer-content class="flex flex-col bg-gray-100 dark:bg-transparent">

            <div class="flex flex-col flex-auto">

                <div
                    class="flex flex-col sm:flex-row items-start sm:items-center sm:justify-between p-6 sm:py-12 md:px-8 border-b bg-card dark:bg-transparent">
                    <div>
                        <div class="text-4xl font-extrabold tracking-tight leading-none">Folder Manager</div>
                        <div class="flex items-center mt-0.5 font-medium text-secondary">
                            {{folders[0]?.subfolders?.length || 0}} folders, {{files.length}} files
                        </div>
                    </div>
                    <div class="mt-4 sm:mt-0">
                        <button mat-flat-button [color]="'primary'" (click)="fileUploader()">
                            <mat-icon>add</mat-icon>
                            <span class="ml-2 mr-1">Upload file</span>
                        </button>
                    </div>
                </div>

                <ng-container *ngIf="folders[0]?.subfolders?.length > 0 || files.length > 0; else noItems">
                    <div class="p-6 md:p-8 space-y-8">
                        <ng-container *ngIf="folders[0]?.subfolders?.length > 0">
                            <div>
                                <div class="font-medium">Folders</div>
                                <div class="flex flex-wrap -m-2 mt-2">
                                    <ng-container
                                        *ngFor="let folder of folders[0].subfolders | slice:0:4; trackBy: trackByFn">
                                        <div class="relative w-40 h-40 m-2 p-4 shadow rounded-2xl bg-card">
                                            <a class="z-10 absolute inset-0 flex flex-col p-4 cursor-pointer"
                                                (click)="openFolders(folder)">
                                                <div class="aspect-w-9 aspect-h-6">
                                                    <div class="flex items-center justify-center">
                                                        <mat-icon class="icon-size-14 text-hint">folder</mat-icon>
                                                    </div>
                                                </div>
                                                <div
                                                    class="flex flex-col flex-auto justify-center text-center text-sm font-medium">
                                                    <div class="truncate" [matTooltip]="folder.name">{{
                                                        folder.name.substring(0,10) }}</div>
                                                    <div class="text-secondary truncate">
                                                        {{ folder.files?.length || 0 }} files, {{
                                                        folder.subfolders?.length || 0 }} subfolders
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </ng-container>
                                    <div *ngIf="folders[0]?.subfolders?.length > 4"
                                        class="relative w-40 h-40 m-2 p-4 shadow rounded-2xl bg-card">
                                        <button class="absolute inset-0 flex items-center justify-center w-full h-full"
                                            mat-flat-button color="primary" (click)="viewAll('folder')">
                                            View More
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </ng-container>

                        <ng-container *ngIf="files.length > 0">
                            <div>
                                <div class="font-medium">Files</div>
                                <div class="flex flex-wrap -m-2 mt-2">
                                    <ng-container *ngFor="let file of files | slice:0:4; trackBy: trackByFn">
                                        <div class="relative w-40 h-40 m-2 p-4 shadow rounded-2xl bg-card"
                                            (click)="openFileDetails(file); $event.stopPropagation()">
                                            <!-- <a
                                                class="absolute z-20 top-1.5 right-1.5 w-8 h-8 min-h-8"
                                                (click)="openFileDetails(file); $event.stopPropagation()"
                                                mat-icon-button>
                                                <mat-icon class="icon-size-5">info</mat-icon>
                                            </a> -->
                                            <a class="absolute z-20 top-1.5 right-1.5 w-8 h-8 min-h-8"
                                                (click)="deleteFile(file); $event.stopPropagation()" mat-icon-button>
                                                <mat-icon class="icon-size-5 text-red-500">delete</mat-icon>
                                            </a>
                                            <div class="z-10 absolute inset-0 flex flex-col p-4 cursor-pointer">
                                                <div class="aspect-w-9 aspect-h-6">
                                                    <div class="flex items-center justify-center">
                                                        <div class="relative">
                                                            <mat-icon
                                                                class="icon-size-14 text-hint">insert_drive_file</mat-icon>
                                                            <div class="absolute left-0 bottom-0 px-1.5 rounded text-sm font-semibold leading-5 text-white"
                                                                [class.bg-red-600]="file.type?.toUpperCase() === 'PDF'"
                                                                [class.bg-blue-600]="file.type?.toUpperCase() === 'DOC' || file.type?.toUpperCase() === 'DOCX'"
                                                                [class.bg-green-600]="file.type?.toUpperCase() === 'XLS' || file.type?.toUpperCase() === 'XLSX'"
                                                                [class.bg-purple-600]="file.type?.toUpperCase() === 'PPT' || file.type?.toUpperCase() === 'PPTX'"
                                                                [class.bg-amber-600]="file.type?.toUpperCase() === 'JPG' || file.type?.toUpperCase() === 'JPEG' || file.type?.toUpperCase() === 'PNG'"
                                                                [class.bg-indigo-600]="file.type?.toUpperCase() === 'ZIP' || file.type?.toUpperCase() === 'RAR'"
                                                                [class.bg-gray-600]="!file.type || file.type?.toUpperCase() === 'TXT' || file.type?.toUpperCase() === 'CSV' || file.type?.toUpperCase() === 'FILE'">
                                                                {{file.type?.toUpperCase() || 'FILE'}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div
                                                    class="flex flex-col flex-auto justify-center text-center text-sm font-medium">
                                                    <div class="truncate" [matTooltip]="file.name">{{
                                                        file.name.substring(0,10) }}</div>
                                                    <div class="text-secondary truncate">{{file.type}} file</div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>
                                    <div *ngIf="files.length > 4"
                                        class="relative w-40 h-40 m-2 p-4 shadow rounded-2xl bg-card">
                                        <button class="absolute inset-0 flex items-center justify-center w-full h-full"
                                            mat-flat-button color="primary" (click)="viewAll('file')">
                                            View More
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </ng-container>

                <ng-template #noItems>
                    <div class="flex flex-auto flex-col items-center justify-center bg-gray-100 dark:bg-transparent">
                        <mat-icon class="icon-size-24">folder_off</mat-icon>
                        <div class="mt-4 text-2xl font-semibold tracking-tight text-secondary">There are no items!</div>
                    </div>
                </ng-template>

            </div>

        </mat-drawer-content>

    </mat-drawer-container>

</div>